.bottom-bar{
  position:fixed;
  bottom:0;
  height:85%;
  width:80%;
  max-width:960px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background-color:white;
  left:50%;
  transform:translate(-50%,0);
  z-index:9999;
  transition-duration: .5s;
  color:#2e2e2e
}
.bar-body{
  overflow-y:scroll;
  max-height: 85%;
  min-height:85%
}
.bar-title{
  padding:25px;
  text-align:center;
  border-bottom: 1px solid #2e2e2e13;
}
.bar-close-btn{
  position:fixed;
  right:25px;
  top: 30px;;
  color:var(--red-color);
  border-color: var(--red-color);
}
.bar-close-btn:hover{
  color:#fff;
  border-color: var(--red-color);
  background-color: var(--red-color)
}
.hide-bottom-bar{
  transform:translate(-50%,120%);
  transition-duration: .5s;
}
@media screen and (max-width: 1000px) {
  .bottom-bar{
    width:90%
  }
}
@media screen and (max-width: 800px) {
  .bottom-bar{
    width:99%
  }
 
}
@media screen and (max-width: 640px) {
  .item-btns .btn-outline-t-teal{
    width:100%
  }
  .bar-close-btn{
    top: 20px;
    right: 0
  }
}
.not-found-section{
  text-align:center;
  
}
.not-found-section h3{
  text-transform: uppercase;
  color: #8b8b8b;
}